<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--上下文名称-->
    <contextName>anyway-boot-admin</contextName>

    <!--变量定义-->
    <property name="LOG_PATH" value="./log/anyway-boot-admin"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%15.15t] %-40.40logger{36} - %msg%n"/>
    <property name="MAX_FILE_SIZE" value="100MB"/>

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %green([%15.15t]) %boldMagenta(%-40.40logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--文件滚动记录-->
    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/debug/%d{yyyy-MM-dd,aux}/anyway-boot-admin.log.%d{yyyyMMddHH}.%i</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>48</maxHistory><!--按小时，2天-->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info/%d{yyyy-MM-dd,aux}/anyway-boot-admin.log.%d{yyyyMMddHH}.%i</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>48</maxHistory><!--按小时，2天-->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/warn/anyway-boot-admin.log.%d{yyyyMMdd}.%i</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>2</maxHistory><!--按天，2天-->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/anyway-boot-admin.log.%d{yyyyMMdd}.%i</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>2</maxHistory><!--按天，2天-->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.netflix" level="INFO"/>
    <logger name="de.codecentric" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="reactor.ipc" level="INFO"/>

    <!--多环境-->
    <springProfile name="dev">
        <!--<logger name="org.springframework.cloud.gateway" level="DEBUG"/>-->
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="FILE_DEBUG"/>-->
            <!--<appender-ref ref="FILE_INFO"/>-->
            <!--<appender-ref ref="FILE_WARN"/>-->
            <!--<appender-ref ref="FILE_ERROR"/>-->
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="FILE_DEBUG"/>-->
            <!--<appender-ref ref="FILE_INFO"/>-->
            <!--<appender-ref ref="FILE_WARN"/>-->
            <!--<appender-ref ref="FILE_ERROR"/>-->
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <!--<appender-ref ref="FILE_DEBUG"/>-->
            <!--<appender-ref ref="FILE_INFO"/>-->
            <!--<appender-ref ref="FILE_WARN"/>-->
            <!--<appender-ref ref="FILE_ERROR"/>-->
        </root>
    </springProfile>

</configuration>